extends ../../../templates/master.pug
block content
    section.hero.is-black.is-bold
        .hero-body
            img.ui.image.is-pulled-right(style="width: 150px; height:150px;", src='/assets/images/pup_logo.png')
            i.fa.fa-shopping-cart.fa-5x 
                | PUP Student <br> Market
            br
            br
            hr
            section.hero.is-primary.is-bold
                .hero-body
                    div.container(style='height:10%')
                        h1.title <bold> Sign-in </bold>
                        form(method="POST" action="/login")
                            .field
                                label.label Username
                                    .control.has-icons-left.has-icons-right
                                        input.input.is-success(type="text", placeholder="Student Number", name='studnum')
                                        span.icon.is-small.is-left
                                            i.fa.fa-user
                                        span.icon.is-small.is-right
                                            i.fa.fa-check
                            //- .field
                            //-     .control
                            //-         input.input(type="text" placeholder="Student Number" name="studnum")
                            //- .field
                            //-     .control
                            //-         input.input(type="password" placeholder="Password" name="password")
                            .field
                                label.label Password
                                    p.control.has-icons-left
                                        input.input(type='password', placeholder='Password',name="password")
                                        span.icon.is-small.is-left
                                            i.fa.fa-lock

                            input.button.is-pulled-left(type="submit" value="Sign-in")
                            br
                        a.button.is-pulled-left(class="button", href="/register") REGISTER



            //- #carouselExampleSlidesOnly.carousel.slide.is-pulled-right(data-ride='carousel')
            //-     .carousel-inner(role='listbox')
            //-     .carousel-item.active
            //-         img.d-block.img-fluid(src='', alt='First slide')     
            //-     .carousel-item
            //-         img.d-block.img-fluid(src='...', alt='Second slide')   
            //-     .carousel-item
            //-         img.d-block.img-fluid(src='...', alt='Third slide')

            //- .ui.tiny.images
            //-     img.ui.image.variables-80px(src='/assets/images/sunset.jpg')
            //-     img.ui.image(src='/assets/images/surf.jpg')
            //-     img.ui.image(src='/images/wireframe/image.png')
            //-     img.ui.image(src='/images/wireframe/image.png')